  <section>
    <div class="row" style="max-width: 100%">
      <div class="col-lg-6 col-12 d-lg-block d-none">
        <img src="/assets/images/back12.jpg">
      </div>
      <div class="col-lg-6 col-12 align-self-center">
        <section >
          <div class="container">
            <div class="d-flex justify-content-between flex-row">
              <a class="c-primaryB" style="opacity: 0">Regístrate <i class="la icon-arrow_forward"></i></a>
              <h2 class="text-center">Regístrate como empresa</h2>
              <a class="c-primaryB" style="opacity: 0">Regístrate</a><!-- Solo relleno-->
            </div>
          </div>
        </section>
        <section class="row flexbox-container ">
          <div class="col-12 d-flex align-items-center justify-content-center ">
            <div class="col-lg-10 col-10 p-0 ">
              <div class="card box-shadow-0 py-3 pb-5 m-0" style="background: none">
                <div class="card-content">
                  <div class="form-row">
                    <div class="col-md-6 col-6">
                      <div class="form-group">
                        <label class="c-small-bold">Correo electronico<span class="color-primary-c">*</span></label>
                        <input type="email" class="form-control" placeholder="Ingresa el nombre de usuario" [(ngModel)]="email">
                      </div>
                    </div>
                    <div class="col-md-6 col-6">
                      <div class="form-group">
                        <label class="c-small-bold">Contraseña<span class="color-primary-c">*</span></label>
                        <input type="password" class="form-control" placeholder="Ingresa una contraseña" [(ngModel)]="password">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="c-small-bold">Nombre<span class="color-primary-c">*</span></label>
                    <input type="text" class="form-control" placeholder="Ingresa el nombre de la empresa" [(ngModel)]="name">
                  </div>
                  <div class="form-group">
                    <label class="c-small-bold">Descripcion<span class="color-primary-c">*</span></label>
                    <div class="NgxEditor__Wrapper" style="min-height: 100px">
                      <ngx-editor-menu  [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                      <ngx-editor  [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'" [(ngModel)]="description"></ngx-editor>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="c-small-bold">Numero de celular<span class="color-primary-c">*</span></label>
                    <input type="number" class="form-control" placeholder="Ingresa un numero de celular" [(ngModel)]="phoneNumber" >
                    <label class="c-small-light pt-75">Usaremos este número para que los postulantes se comuniquen contigo.</label>
                  </div>
                  <div class="form-group">
                    <label class="c-small-bold">Dirección</label>
                    <input type="text" class="form-control" placeholder="Ingresa la dirección de tu empresa" [(ngModel)]="address">
                  </div>
                  <div class="form-group">
                    <label class="c-small-bold">Foto de perfil</label>
                    <button class="btn btn-primary d-block" (click)="selectFile()"><i class="li icon-upload"></i>Elige un archivo</button>
                    <input type="file" (change)="onFileChanged($event)" #fileInput style="display: none">
                    <p class="p-small py-75">{{fileName}}</p>
                  </div>
                  <div class="form-group">
                    <label class="c-small-bold">Ciudad<span class="color-primary-c">*</span></label>
                    <div class="input-group">
                      <select class="form-control custom-select" [(ngModel)]="city">
                        <option value="" disabled selected>Selecciona una ciudad</option>
                        <option value="Santa Cruz">Santa Cruz</option>
                        <option value="La Paz">La Paz</option>
                        <option value="Cochabamba">Cochabamba</option>
                        <option value="Oruro">Oruro</option>
                        <option value="Potosi">Potosi</option>
                        <option value="Chuquisaca">Chuquisaca</option>
                        <option value="Tarija">Tarija</option>
                        <option value="Beni">Beni</option>
                        <option value="Pando">Pando</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="c-small-bold">Area de estudio para el puesto de trabajo<span class="color-primary-c">*</span></label>
                    <div class="input-group">
                      <select class="form-control custom-select" [(ngModel)]="area" >
                        <option value="" disabled selected>Selecciona una ciudad</option>
                        <ng-container *ngFor="let item of areas">
                          <option [value]="item.id">{{ item.name }}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                  <div class="form-group mb-1">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="1" name="tratamiento" [(ngModel)]="showName" >
                      <label class="custom-control-label description-form c-small-light" for="1">Mostrar nombre de la empresa en mis ofertas laborales </label>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="showCode">
                    <label class="c-small-bold">Ingresa el código que te enviamos al número {{ phoneNumber }}:</label>
                    <div class="d-flex">
                      <input type="text" class="form-control mr-1" placeholder="*" id="code_1" [(ngModel)]="code_1" (keyup)="onKeyUp($event, 'code_2')">
                      <input type="text" class="form-control mr-1" placeholder="*" id="code_2" [(ngModel)]="code_2" (keyup)="onKeyUp($event, 'code_3')">
                      <input type="text" class="form-control mr-1" placeholder="*" id="code_3" [(ngModel)]="code_3" (keyup)="onKeyUp($event, 'code_4')">
                      <input type="text" class="form-control mr-1" placeholder="*" id="code_4" [(ngModel)]="code_4" (keyup)="onKeyUp($event, 'code_5')">
                      <input type="text" class="form-control mr-1" placeholder="*" id="code_5" [(ngModel)]="code_5" (keyup)="onKeyUp($event, 'code_6')">
                      <input type="text" class="form-control" placeholder="*" id="code_6" [(ngModel)]="code_6" (keyup)="onKeyUp($event, 'verifyCode')">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 pl-0 text-center">
                      <div style="flex-grow: 1;">
                        <div id="recaptcha-container"></div>
                      </div>
                      <br>
                      <button class="btn btn-primary mt-2" [disabled]="!validateForm()" (click)="sendVerificationCode()">Enviar código de verificación</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
