<app-header-administrator></app-header-administrator>
<div class="app-content content">
  <div class="container">
    <div class="my-5">
      <div class="row">
        <div class="col-md-4 col-12">
          <button [ngClass]="{'btn-outline-secondary': state != 1, 'btn-primary': state == 1}" class="btn btn-block" (click)="state = 1">Pendientes</button>
        </div>
        <div class="col-md-4 col-12">
          <button [ngClass]="{'btn-outline-secondary': state != 2, 'btn-primary': state == 2}" class="btn btn-block" (click)="state = 2">Activo</button>
        </div>
        <div class="col-md-4 col-12">
          <button [ngClass]="{'btn-outline-secondary': state != 3, 'btn-primary': state == 3}" class="btn btn-block" (click)="state = 3">Rechazados</button>
        </div>
      </div>
    </div>

    <section class="my-5" *ngIf="state == 1">
      <p>{{ countJobsWithState(1) }} Resultados</p>
      <div class="row my-5">
        <ng-container *ngFor="let item of job">
          <div class="col-md-6 col-12 my-1" *ngIf="item.state === 1">
            <div class="d-flex border-lead cursor-pointer" [routerLink]="'/administrador/trabajo/'+item.id">
              <img src="/assets/images/work.png" class="img-fluid m-1" width="60" height="60">
              <div class="">
                <h3>{{ item.title }}</h3>
                <ul class="list-style-icons d-flex mb-50 p-0">
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-work"></i>{{ item.areas.name }}</li>
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-location_on"></i>{{ item.location }}</li>
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-calendar_month"></i>{{ formatFecha(item.publicationDate)}}</li>
                </ul>
                <ul class="list-style-icons d-flex p-0">
                  <li class="round px-1 mr-50 job-info-category c-small-light">{{ item.typeJob.name }}</li>
                  <li class="round px-1 mr-50 job-pendiente c-small-light">Pendiente</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>

    <section class="my-5" *ngIf="state == 2">
      <p>{{ countJobsWithState(2) }} Resultados</p>
      <div class="row my-5">
        <ng-container *ngFor="let item of job">
          <div class="col-md-6 col-12 my-1" *ngIf="item.state === 2">
            <div class="d-flex border-lead cursor-pointer" [routerLink]="'/administrador/trabajo/'+item.id">
              <img src="/assets/images/work.png" class="img-fluid m-1" width="60" height="60">
              <div class="">
                <h3>{{ item.title }}</h3>
                <ul class="list-style-icons d-flex mb-50 p-0">
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-work"></i>{{ item.areas.name }}</li>
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-location_on"></i>{{ item.location }}</li>
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-calendar_month"></i>{{ formatFecha(item.publicationDate)}}</li>
                </ul>
                <ul class="list-style-icons d-flex p-0">
                  <li class="round px-1 mr-50 job-info-category c-small-light">{{ item.typeJob.name }}</li>
                  <li class="round px-1 mr-50 job-activo c-small-light">Activo</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>

    <section class="my-5" *ngIf="state == 3">
      <p>{{ countJobsWithState(3) }} Resultados</p>
      <div class="row my-5">
        <ng-container *ngFor="let item of job">
          <div class="col-md-6 col-12 my-1" *ngIf="item.state === 3">
            <div class="d-flex border-lead cursor-pointer" [routerLink]="'/administrador/trabajo/'+item.id">
              <img src="/assets/images/work.png" class="img-fluid m-1" width="60" height="60">
              <div class="">
                <h3>{{ item.title }}</h3>
                <ul class="list-style-icons d-flex mb-50 p-0">
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-work"></i>{{ item.areas.name }}</li>
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-location_on"></i>{{ item.location }}</li>
                  <li class="d-flex align-items-center mr-50 c-small-light"><i class="la icon-calendar_month"></i>{{ formatFecha(item.publicationDate)}}</li>
                </ul>
                <ul class="list-style-icons d-flex p-0">
                  <li class="round px-1 mr-50 job-info-category c-small-light">{{ item.typeJob.name }}</li>
                  <li class="round px-1 mr-50 job-rechazado c-small-light">Rechazado</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </div>
</div>
