<app-header-administrator></app-header-administrator>
<section>
  <div class="app-content content">
    <div class="header">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center py-5">
          <div class="d-flex">
            <img src="/assets/images/work.png" class="img-fluid m-2" width="60" height="60">
            <div class="">
              <h3>{{ job?.title }}</h3>
              <ul class="list-style-icons d-flex mb-50 p-0">
                <li class="d-flex align-items-center mr-1 c-small-light"><i class="la icon-work"></i>{{ job?.areas?.name }}</li>
                <li class="d-flex align-items-center mr-1 c-small-light"><i class="la icon-location_on"></i>{{ job?.location }}</li>
                <li class="d-flex align-items-center mr-1 c-small-light"><i class="la icon-calendar_month"></i>{{ formatFecha(job.publicationDate)}}</li>
                <li class="d-flex align-items-center mr-1 c-small-light"><i class="la icon-payments"></i>Acuerdo salarial</li>
              </ul>
              <ul class="list-style-icons d-flex p-0">
                <li class="round px-1 mr-50 job-info-category c-small-light">{{ job?.typeJob?.name }}</li>
                <li class="round px-1 mr-50 job-pendiente c-small-light" *ngIf="job.state == 1">Pendiente</li>
                <li class="round px-1 mr-50 job-activo c-small-light" *ngIf="job.state == 2">Activo</li>
                <li class="round px-1 mr-50 job-rechazado c-small-light" *ngIf="job.state == 3">Rechazado</li>
              </ul>
            </div>
          </div>
          <button class="btn btn-primary btn-lg round px-3" data-toggle="modal" data-target="#primary" *ngIf="job.state == 1" (click)="updateStateJob(2)">Aceptar</button>
          <button class="btn btn-secondary btn-lg round px-3" data-toggle="modal" data-target="#primary" *ngIf="job.state == 1" (click)="updateStateJob(3)">Rechazar</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row my-5">
      <div class=" col-md-8 col-12 text-center">
        <h3>{{ job?.title }}</h3>
        <div class="c-small-bold my-2">Base: {{ job?.location }}</div>
        <div class="text-left" [innerHTML]="job?.description"></div>

      </div>
      <div class="col-md-4 col-12">
        <div class="p-2 b-blue">
          <h3>Descripción general del trabajo</h3>
          <div class="d-flex align-items-center my-3">
            <i class="lam icon-calendar_month"></i>
            <div class="ml-1">
              <label class="c-small-bold">Fecha de de solicitud:</label>
              <label class="d-block c-small-light m-0">{{ formatFecha(job.publicationDate) }}</label>
            </div>
          </div>

          <div class="d-flex align-items-center my-3">
            <i class="lam icon-location_on"></i>
            <div class="ml-1">
              <label class="c-small-bold">Ubicación:</label>
              <label class="d-block c-small-light m-0">{{ job?.location }}</label>
            </div>
          </div>

          <div class="d-flex align-items-center my-3">
            <i class="lam icon-payments"></i>
            <div class="ml-1">
              <label class="c-small-bold">Salario:</label>
              <label class="d-block c-small-light m-0">Acuerdo salarial</label>
            </div>
          </div>


        </div>
        <br>
        <div class="p-2 b-blue">
          <div class="d-flex">
            <img src="/assets/images/work.png" class="mr-1" width="60" height="60">
            <div class="">
              <h3>{{ job?.company?.name }}</h3>
              <a [href]="'/empresas/'+job?.company?.id">Ver perfil de empresa</a>
            </div>
          </div>
          <div class="d-flex justify-content-between my-2">
            <label class="c-small-bold">Industria primaria:</label>
            <label class="c-small-light">{{ job?.company?.area?.name }}</label>
          </div>
          <div class="d-flex justify-content-between my-2">
            <label class="c-small-bold">Teléfono:</label>
            <label class="c-small-light">{{ job?.company?.numberPhone }}</label>
          </div>
          <div class="d-flex flex-column my-2">
            <label class="c-small-bold">Correo electrónico:</label>
            <label class="c-small-light">{{ job?.company?.email }}</label>
          </div>
          <button class="btn btn-primary btn-block">{{ job?.company?.webSite }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
